/* Headings */
.footer-heading {
    font-family: 'BagelFatOne', serif;
    text-align: center;
    font-size: 73px;
    background: linear-gradient(90deg,#8D36E9 44%, #2D5FEB 55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

/* General fonts */
.centered-white-text {
    font-family: 'Martian Mono', serif;
    color: white;
    text-align: center;
    font-size: 26px;
    padding-top: 20px;
    font-weight: lighter;
}

.centered-white-bold-text {
    font-family: 'Martian Mono', serif;
    color: white;
    text-align: center;
    font-size: 26px;
    padding-top: 40px;
    font-weight: bold;
}

/* Icons */
.Icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.Icons a {
    margin: 0 25px;
    transition: transform 0.3s ease;
}

.Icons a:hover {
    transform: scale(1.1);
}