@font-face {
    font-family: 'generalFont';
    src: url('../fonts/generalFont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'logoTitleFont';
    src: url('../fonts/RubikSprayPaint-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'mainFont';
    src: url('../fonts/mainFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BagelFatOne';
    src: url('../fonts/BagelFatOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono';
    src: url('../fonts/generalFont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bauhaus 93';
    src: url('../fonts/headingFont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
