.homepageBody{
    background-color: rgb(25, 0, 35);
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.heroSection{
    height: 100vh;
    width: 100vw;
    background-image: url("../assets/HeroSectionBackgroundImage2.png");
    background-size: cover;
    background-position: center;
}
/*Responsive type shi*/
@media (max-width: 900px) {
    .heroSection {
        height: 100vh;
        width: 100vw;
        background-image: url("../assets/HeroSectionBackgroundImage.png");
        background-size: cover;
        background-position: center;
    }
}

.aboutSection{
    height: 100vh;
    width: 100vw;
    background-image: url("../assets/AboutSectionBackgroundImage.png");
    background-size: contain;
    background-position: top;
}
.sponsorsSection{
    height: 210vh;
    width: 100vw;
    background: #190022;
}
.faqSection{
    height: 80vh;
    width: 100vw;
    background: #230135;
}
.contactSection{
    height: 50vh;
    width: 100vw;
    background: rgb(8, 213, 240);
}